################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/UnseenTechTest/bin
/UnseenTechTest/obj
/UnseenTechTest/words.db
